.banner {
  position: relative;
}
.banner__img {
  width: 100%;
  object-fit: contain;
}

.banner__text {
  color: blanchedalmond;
  top: 10px;
  margin: 100px;
  position: absolute;
  transition: 500ms;
}

.banner__text:hover {
  transform: scale(1.2);
}
